.skills-badge{

    display: inline-block;
    padding: 0.35em .75rem;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5rem;
    background-color: #FFF;
    color: #f5af19;
    border-color: #f5af19 ;
    border-width: .5px;
    
    }
    
    
    .skills-badge:hover{
        color: #fff;
        background:  linear-gradient(45deg, #f12711, #f5af19);;
        background-color: #0d6efd;
    }
    
    .skills-section h3 {
        padding-right: 8px;
    }
    
    .skills-section{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }
    
    .skills-type-head{
        font-size: 20px;
        opacity: 0.7;
        font-weight: normal;
    }