
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fdbb2d; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #f12711, #f5af19);
    border-radius: 5px;
}
  
/* Employment Tile Styles */
.tile h3 {
    color: black;
    margin-top: 1.5rem;
}

#personal-info{
    text-decoration: none;
}


@import '../src/components/Profile.css';
@import '../src/components/Navigation/NavBar.css';
@import '../src/components/AboutMe/AboutMe.css';
@import '../src/components/Skills/Skills.css';
@import '../src/components/Tile//TileComponent.css';